Checks: '-*,readability-identifier-naming'
WarningsAsErrors: readability-identifier-naming
CheckOptions:
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.StructSuffix, value: "_s" }

  - { key: readability-identifier-naming.TypedefCase, value: lower_case }
  - { key: readability-identifier-naming.TypedefSuffix, value: "_t" }

  - { key: readability-identifier-naming.FunctionCase, value: camelBack }

  - { key: readability-identifier-naming.StaticVariableCase, value: camelBack }
  - { key: readability-identifier-naming.StaticVariablePrefix, value: "_" }

  - { key: readability-identifier-naming.StaticConstantCase, value: UPPER_CASE }
